body {
    background-color: #4B9CD3;
}
h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1, .label, #inputDiv{
    color: #000000;
    text-align: justify;
    font-family: "Playfair Display",Georgia,"Times New Roman",serif;
}

#type{
    color: #000;
    font:bold;
}

h1, #inputDiv{
    text-align: center;   
}

#labelDiv{
    width:50%;
    margin: 0 auto;
    font: bold;
}

.custom-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
